<template>
    <Layout style="height: 100vh">
        <Sider ref="sider" hide-trigger collapsible :collapsed-width="0" v-model="isCollapsed">
            <Menu active-name="1-1" theme="dark" width="auto" :class="menuitemClasses" :style="{ 'background': '#280f42'}">
                <MenuItem name="1-0">
                    <a href="/pricelist">
                        <span>Прайслист</span>
                    </a>
                </MenuItem>
                <MenuItem name="1-1">
                    <a href="/carts/saved">
                        <span>Сохраненные корзины</span>
                    </a>
                </MenuItem>
                <MenuItem name="1-2">
                    <a href="/orders">
                        <span>Мои заказы</span>
                    </a>
                </MenuItem>
            </Menu>
        </Sider>
        <Layout>
            <div class="wrapper">
                <Row>
                    <header-nav>
                        <Icon @click.native="collapsedSider" :class="rotateIcon"
                        type="ios-arrow-back" size="24"></Icon>
                    </header-nav>
                </Row>
                <div class="main">
                    <slot></slot>
                </div>
            </div>
        </Layout>
    </Layout>
</template>

<script>
    import ApiService from '../common/api/api.service';
    import HeaderNav from '../components/HeaderNav.vue';
    import {mapActions} from 'vuex';

    export default {
        name: "mainlayout",
        components: {
            HeaderNav
        },
        data() {
            return {
                isCollapsed: true
            };
        },
        computed: {
            menuitemClasses() {
                return [
                    'menu-item',
                    this.isCollapsed ? 'collapsed-menu' : ''
                ]
            },
            rotateIcon () {
                return [
                    'menu-icon',
                    this.isCollapsed ? 'rotate-icon' : ''
                ];
            },
        },
        methods: {
            ...mapActions({
                getSettings: 'settings/getSettings'
            }),
            collapsedSider() {
                this.$refs.sider.toggleCollapse();
            }
        },
        created: function () {
            if (this.$store.state.auth.token) {
                ApiService.setHeader(this.$store.state.auth.token);
            }

            this.getSettings();
        }
    }
</script>

<style lang="less" scoped>

    .main {
        padding: 0 16px
    }
    .rotate-icon{
        transform: rotate(180deg);
    }

    .menu-item span {
        white-space: nowrap;
    }

    .menu-item a {
        color: inherit;
    }

    .ivu-icon-ios-arrow-back {
        color: #ffffff;
        padding: 0 20px;
        cursor: pointer;
    }
    .ivu-layout-sider {
        background-color: #280f42;
    }

    .ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu) {
        color: #ffffff;
        border-right: 2px solid greenyellow;
        background: none;
    }

    .ivu-menu-dark.ivu-menu-vertical .ivu-menu-item:hover {
        background: #452763;
    }


</style>
