<template>
    <main-layout>
        <saved-cart height="400" width="17" v-for="(cart, index) in carts" :key="index" :products="cart.cart_details">
            <div class="saved-cart__title" slot="cart-top">{{cart.name}}</div>
            <div slot="cart-bottom">
                <Button class="current-cart__btn" type="success" @click="buy(index)">
                    <span>Отправить заказ менеджеру</span>
                </Button>
                <Button class="saved-cart__delete-btn" type="dashed" @click="popupDeleteCart = true">
                    <span>Удалить</span>
                </Button>
                <Modal
                        @on-ok="deleteCart(cart.id)"
                        title="Удалить?"
                        v-model="popupDeleteCart"
                        class-name="popup-delete-cart">
                </Modal>
            </div>
        </saved-cart>
        <BackTop></BackTop>
    </main-layout>
</template>

<script>
    import mainlayout from '../../layouts/mainlayout.vue'
    import SavedCart from '../../components/SavedCart.vue'
    import {mapState, mapActions} from 'vuex'

    export default {
        name: "saved",
        components: {
            'main-layout': mainlayout,
            SavedCart
        },
        data() {
            return {
                popupDeleteCart: false,
                popupOrderAccepted: false,
            }
        },
        computed: {
            ...mapState({
                carts: state => state.cart.saved.carts
            })
        },
        methods: {
            ...mapActions({
                getSavedCarts: 'cart/getSavedCarts',
                createOrder: 'cart/createOrder',
                deleteCart: 'cart/deleteCart'
            }),
            buy(id) {
                this.createOrder(id).then(res => {
                    this.$Modal.success({
                        title: 'Спасибо за заказ!',
                        content: 'Ваш менеджер свяжется с вами в течении дня.'
                    })
                });
            }
        },
        mounted() {
            this.getSavedCarts();
        }
    }
</script>

<style lang="less">
    .saved-cart {
        &__title {
            font-size: 18px;
            text-decoration: underline;
            font-style: italic;
        }
    }
    .ivu-modal-confirm-footer {
        .ivu-btn-primary {
            background-color: #452763;
            border-color: #452763;
        }
        .ivu-modal-content {
            border-radius: 3px;
        }
    }
    .popup-delete-cart {
        .ivu-btn-primary {
            background-color: #452763;
            border-color: #452763;
        }
        .ivu-btn-text:hover {
            color: #452763;
        }
        .ivu-modal-content {
            border-radius: 3px;
        }
    }
</style>
