<template>
    <Row class="main__current-cart">
        <Col :span="width">
            <div class="current-cart">
                <slot name="cart-top"></slot>
                <Table border stripe class="current-cart__table" :height="height" :columns="columns"
                       :data="products"></Table>
                <slot name="cart-bottom"></slot>
            </div>
        </Col>
    </Row>
</template>

<script>
    import {mapState, mapActions} from 'vuex';

    export default {
        name: "Cart",
        props: {
          products: {
              default: () => []
          },
          width: {
              default: 24
          },
          height: {
              default: ''
          }
        },
        data() {
            return {
                columns: [
                    {
                        title: 'Код',
                        key: 'article'
                    },
                    {
                        title: 'Название',
                        key: 'name'
                    },
                    {
                        title: 'Описание',
                        key: 'description'
                    },
                    {
                        title: 'Кол-во',
                        key: 'count',
                        width: 200,
                        render: (show, params) => {
                            return show('div', [
                                show('InputNumber', {
                                    props: {
                                        min: 1,
                                        max: 10000,
                                        value: params.row.amount
                                    },
                                    on: {
                                        'on-change': (amount) => {
                                            params.row.amount = amount;
                                        }
                                    }
                                }),
                                show('Button', {
                                    data: function () {
                                        return {
                                            amount: ''
                                        }
                                    },
                                    props: {
                                        type: 'text',
                                        size: 'small'
                                    },
                                    class: {
                                        "current-cart__btn-count-apply": true
                                    },
                                    on: {
                                        click: () => {
                                            let payload = {
                                                amount: params.row.amount,
                                                indexProduct: params.index
                                            }
                                            this.$emit('changeAmount', payload)
                                        }
                                    }
                                }, 'Применить')])
                        }
                    },
                    {
                        title: 'РРЦ',
                        key: 'retail_price',
                        sortable: true
                    },
                    {
                        title: 'Оптовая цена',
                        sortable: true,
                        render: function (show, params) {
                            return show('span', {}, params.row.price_two || params.row.price_three)
                        }
                    },
                    {
                        title: 'В упк',
                        key: 'package_quantity'
                    },
                    {
                        title: 'Штрих-код',
                        key: 'barcode'
                    },
                    {
                        title: 'Бренд',
                        key: 'brand'
                    },
                    {
                        title: 'Общая ст-сть',
                        key: 'total_price',
                        render: (show, params) => {
                            let total_price = 0;

                            if (params.row.price_three) {
                              total_price = params.row.amount * params.row.price_three
                            } else {
                              total_price = params.row.amount * params.row.price_two
                            }

                            return show('span', {}, total_price)
                        }
                    },
                    {
                        title: ' ',
                        key: 'action',
                        width: 150,
                        align: 'center',
                        render: (show, params) => {
                            return show('Button', {
                                props: {
                                    type: 'dashed',
                                    size: 'small'
                                },
                                on: {
                                    click: () => {
                                        let productIndex = params.index;
                                        this.$emit('popupDeleteProduct', productIndex)
                                    }
                                }
                            }, 'удалить')
                        }
                    }
                ],
                popupDeleteFromCart: false,

            }
        },
        methods: {
            ...mapActions({
                updateCart: 'cart/updateCart',
                deleteFromCart: 'cart/deleteFromCart',
                addToSavedCarts: 'cart/addToSavedCarts'
            })
        }
    }
</script>

<style lang="less">
    .main__current-cart {
        margin-top: 32px;
        margin-bottom: 32px;
        display: flex;
        justify-content: center;
    }

    .current-cart {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 16px;
        &__title {
            font-size: 19px;
            font-weight: 600;
            text-decoration: underline;
        }
        &__table {
            width: 100%;
        }
        &__btn {
            margin-top: 12px;
            margin-right: 4px;
        }
        &__save-btn {
            margin-top: 12px;
            transition: all ease 0.3s;
            &.active {
                display: none;
            }
        }
        .ivu-table-body.ivu-table-overflowY{
            &::-webkit-scrollbar {
                width: 10px;
                cursor: pointer;
            }
            &::-webkit-scrollbar-track {
                background-color: #e4e4e4;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background-color: #639;
            }
        }
        .ivu-btn-dashed {
            border-color: indianred;
            &:hover {
                color: red;
                border: 1px solid red
            }
        }
        &__edit-btn {
            margin-top: 12px;
            border-color: #639!important;
            &:hover {
                color: #ffffff!important;
                background-color: #639;
            }
        }
        &__cart-name {
            margin-top: 12px;
            visibility: hidden;
            width: 0;
            transition: all ease 0.3s;
            &.active {
                visibility: visible;
                width: 300px;
            }
        }
        &__save-controls {
            display: inline-block;
            margin-top: 12px;
            visibility: hidden;
            opacity: 0;
            transition: all ease 0.3s;
            &.active {
                visibility: visible;
                opacity: 1;
            }
        }
        &__btn-apply {
            &.ivu-btn-text:hover {
                color: #47cb89;
            }
        }
        &__btn-cancel {
            &.ivu-btn-text:hover {
                color: indianred;
            }
        }
        &__btn-count-apply:focus {
            box-shadow: none;
        }
    }
</style>
