<template>
    <div class="category-list">
        <Tree v-if="!spin" ref="tree" class="tree-view" :data="categories" @on-select-change="showProducts"></Tree>
        <div v-if="spin" class="tree-view" style="position: relative">
            <Spin style="position: absolute; top: 50%; left: 50%;"></Spin>
        </div>
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex';
    import {deepCopy} from '../common/utils/helpers'

    export default {
        name: "CategoryList",
        data() {
            return {
                current: {
                  active: ''
                },
                categories: [],
                spin: true
            }
        },
        watch: {
            categories() {
                this.spin = false;
            }
        },
        computed: {
            ...mapState({
                payload: state => state.filters.payload
            })
        },
        methods: {
            ...mapActions({
                getCategories: 'categories/getCategories',
                getProducts: 'products/getProducts',
                initFilters: 'filters/initFilters'
            }),
            showProducts(category) {
                if (Object.keys(category).length !== 0) {
                    this.current.active = category;
                    let payload = {
                       id: category[0].id,
                    };
                    this.$store.commit('filters/setPayload', payload);
                    this.initFilters();
                }

                this.getProducts(this.payload);
            }
        },
        mounted() {
            let ctx = this;
            this.getCategories().then(function (tree) {
                ctx.categories = deepCopy(tree)
            })
        }
    }
</script>
<style lang="less">
    .category-list {
        .tree-view {
            height: 400px;
            overflow: scroll;
            margin-right: 16px;
            border: 1px solid #dddee1;
            & .ivu-tree-children {
                padding-left: 18px;
            }
        }
        .ivu-tree-empty {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
</style>
