<template>
    <div class="filter-controls">
        <Col span="6">
            <div class="filter-controls__left-side">
                <Input @on-keydown="inputHandle" class="filter-controls__search" v-model="current.search"
                       placeholder="Поиск по названию, артикулу, штрих-коду"
                       style="width: 300px"></Input>
                <Dropdown class="filter-controls__brands" placement="bottom-start" trigger="click" @on-click="setBrand">
                    <Button type="default">
                        {{current.brand ? current.brand : 'Все бренды' }}
                        <Icon type="arrow-down-b"></Icon>
                    </Button>
                    <DropdownMenu slot="list">
                        <DropdownItem v-for="(brand, key) in brands" :key="key" :name="brand">{{brand}}</DropdownItem>
                    </DropdownMenu>
                </Dropdown>
            </div>
        </Col>
        <Col span="18">
            <div class="filter-controls__right-side">
                <div class="filter-controls__price-range">
                    <InputNumber v-model="slider.range[0]" @on-change="setMinRange"></InputNumber>
                    <Slider :min="slider.min" :max="slider.max" v-model="slider.range" @on-change="setRange" range>
                    </Slider>
                    <InputNumber v-model="slider.range[1]" @on-change="setMaxRange"></InputNumber>
                </div>
                <div class="filter-controls__dropdowns">
                    <Dropdown placement="bottom-end" trigger="click" @on-click="setActuality">
                        <Button type="default">
                            {{actualityName === ''? 'Актуальность': actualityName}}
                            <Icon type="arrow-down-b"></Icon>
                        </Button>
                        <DropdownMenu slot="list">
                            <DropdownItem name='Да'>Да</DropdownItem>
                            <DropdownItem name='Нет'>Нет</DropdownItem>
                            <DropdownItem name="Все">Все</DropdownItem>
                        </DropdownMenu>
                    </Dropdown>
                </div>
            </div>
        </Col>
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex';
    import {deepCopy} from '../common/utils/helpers'

    export default {
        name: "Filters",
        data() {
            return {
                slider: {
                    range: [0, 0],
                    min: 0,
                    max: 0
                },
                actualityName: '',
                current: {
                    brand: '',
                    search: '',
                    actuality: false
                },

                value: ''
            }
        },
        computed: {
            ...mapState({
                brands: state => state.filters.brands,
                categories: state => state.categories.categories,
                payload: state => state.filters.payload,
                dataSlider: state => state.filters.slider
            }),
        },
        watch: {
            dataSlider() {
                this.slider = deepCopy(this.dataSlider);
            },
            categories() {
                let id = this.categories[0].id;
                let ctx = this;

                this.initFilters({id: id})
                    .then((slider) => {
                        ctx.slider = deepCopy(slider)
                    });
            }
        },
        methods: {
            ...mapActions({
                getProducts: 'products/getProducts',
                initFilters: 'filters/initFilters',
            }),
            setActuality(actuality) {
                switch (actuality) {
                    case 'Да':
                        this.current.actuality = true;
                        this.actualityName = 'Да';
                        break;
                    case 'Нет':
                        this.current.actuality = false;
                        this.actualityName = 'Нет';
                        break;
                    default:
                        this.current.actuality = '';
                        this.actualityName = ''
                }
                let payload = {
                    actuality: this.current.actuality
                };
                this.$store.commit('filters/setPayload', payload);
                this.runSearch();
            },
            setBrand(name) {
                this.current.brand = (name === 'Все бренды') ? '' : name;
                this.runSearch();
            },
            runSearch() {
                this.$store.commit('filters/setPayload', this.current);
                this.getProducts(this.payload);
                console.log('RUN RUN RUN SEEEAAARCH!!!111!!')
            },
            setRange(range) {
                let payload = {
                    range: range
                };
                this.$store.commit('filters/setPayload', payload);
                this.runSearch();
            },
            setMinRange(min) {
                let range = [min, this.slider.range[1]];
                this.setRange(range)
            },
            setMaxRange(max) {
                let range = [this.slider.range[0], max];
                this.setRange(range);
            },
            inputHandle(e) {
                if (e.code === 'Enter' || e.code === "NumpadEnter") {
                    this.runSearch()
                }
            }
        }
    }
</script>

<style lang="less">

    .filter-controls {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 12px;
        &__search {
            margin-right: 30px;
        }
        &__left-side {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-right: 16px;
        }
        &__right-side {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
        }
        &__dropdowns .ivu-select-dropdown {
            width: 100%;
            max-width: 140px;
        }
        &__dropdowns .ivu-dropdown {
            margin-left: 8px;
        }
        &__price-range {
            display: flex;
        }
        & .ivu-slider-range {
            width: 180px;
            margin: 0 16px;
            .ivu-slider-bar {
                background-color: #19be6b;
            }
            .ivu-slider-button {
                border-color: #19be6b;
            }
        }
        .filter-controls__brands {
            .ivu-dropdown-menu {
                max-height: 300px;
                overflow-y: auto;
                & .ivu-dropdown-item:first-child {
                    border-bottom: 1px solid lightgray;
                }
                &::-webkit-scrollbar {
                    width: 6px;
                    cursor: pointer;
                }
                &::-webkit-scrollbar-track {
                    background-color: #e4e4e4;
                }

                &::-webkit-scrollbar-thumb {
                    border-radius: 3px;
                    background-color: #639;
                }
            }
        }
    }

</style>
