<template>
    <div class="header-nav wrapper__header-nav">
        <slot></slot>
        <Button v-if="pricelistDownload" click="downloadPricelist" class="header-nav__download-btn">Скачать прайс-лист</Button>
        <Button @click="logout" class="header-nav__logout-btn">Выйти</Button>
    </div>
</template>

<script>
    import PricelistService from '~/common/api/pricelist.service';
    import JwtService from '~/common/auth/jwt.service';
    import { mapState } from 'vuex';

    export default {
        name: "HeaderNav",
        data: function () {
            return {
                pricelistDownload: false
            }
        },
        methods: {
            logout() {
                JwtService.unsetToken();
                window.location = '/';
            },
            downloadPricelist() {
                PricelistService.getPricelist();
            }
        },
        watch: {
            settings() {
                if (this.settings.permissions && this.settings.permissions.pricelist_download) {
                    this.pricelistDownload = true;
                }
            }
        },
        computed: {
            ...mapState({
                settings: store => store.settings.settings
            })
        }
    }
</script>

<style lang="less">

    .header-nav {
        display: flex;
        align-items: center;
        position: relative;
        height: 40px;
        background-color: rebeccapurple;
        &__logout-btn {
            position: absolute;
            right: 2vw;
            background-color: #639;
            color: #ffffff;
            border-color: #ffffff;
            &:hover {
                color: #57a3f3;
                background-color: #639;
                border-color: #57a3f3;
            }
        };
        &__download-btn {
            position: absolute;
            right: 10vw;
            background-color: #639;
            color: #ffffff;
            border-color: #ffffff;
            &:hover {
                color: #57a3f3;
                background-color: #639;
                border-color: #57a3f3;
            }
        };
    }

    .wrapper {
        &__header-nav {
            margin-bottom: 16px;
        }
    }

</style>
