<template>
    <div class="login-form" :class="{shake: shake}" @animationend="resetShake">
        <p class="login-form__connection-info" :class="{ 'active': connection}">соединение с 1С...</p>
        <Form ref="formInline" :model="formInline" inline>
            <FormItem prop="user">
                <Input size="large" type="text" v-model="formInline.username" placeholder="Логин" @on-enter="handleSubmit('formInline')" :disabled="loading"/>
            </FormItem>
            <FormItem prop="password">
                <Input size="large" type="password" v-model="formInline.password" placeholder="Пароль" @on-enter="handleSubmit('formInline')" :disabled="loading"/>
            </FormItem>
            <FormItem>
                <Button type="success" @click="handleSubmit('formInline')" :disabled="loading">Войти</Button>
            </FormItem>
        </Form>
        <Spin :class="{ 'is-active': loading }" size="large"></Spin>
    </div>
</template>
<script>
    import AuthService from '../common/api/auth.service';
    import JwtService from '../common/auth/jwt.service';
    import {mapActions, mapMutations} from 'vuex';

    export default {
        data() {
            return {
                connection: false,
                shake: false,
                loading: false,
                formInline: {
                    username: '',
                    password: ''
                },
                ruleInline: {
                    username: [
                        {required: true, message: 'Пожалуйста введите имя пользователя', trigger: 'blur'}
                    ],
                    password: [
                        {required: true, message: 'Пожалуйста заполните пароль', trigger: 'blur'},
                        {type: 'string', min: 4, message: 'Пароль не может быть меньше 4 символов', trigger: 'blur'}
                    ]
                }
            }
        },
        methods: {
            ...mapActions({
                login: 'auth/requestToken'
            }),
            handleSubmit(name) {
                this.$store.commit('auth/login', false);

                this.$refs[name].validate(async (valid) => {
                    this.loading = true;
                    this.connection = true;
                    await this.login(this.formInline);

                    if (this.$store.state.auth.login && valid) {
                        this.$Message.success('Успех! Перенаправляем вас в личный кабинет!');
                        document.querySelector('.js-move-left').style.left = '-5000px';
                        document.querySelector('.js-move-left').style.opacity = 0;
                        setTimeout(this.redirect, 1000);
                    } else {
                        this.$Message.error('Проверьте правильность введенных данных!');
                        this.shake = true;
                    }
                    this.loading = false;
                    this.connection = false;
                });
            },
            redirect() {
                window.location = '/pricelist';
            },
            resetShake() {
                this.shake = false;
            }
        }
    };
</script>
<style lang="less">

    .login-form {
        position: absolute;
        top: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 380px;
        height: 400px;
        flex-wrap: wrap;
        border-radius: 4px;
        background-color: #639;
        border: 2px solid #3c2454;
        opacity: .9;
        .ivu-form-item {
            margin: 10px;
            width: 260px;
            .ivu-input {
                background-color: #3c2454;
                border-color: #3c2454;
                color: #fff;
                height: 46px;
                font-size: 18px;
            }
        }
        .ivu-btn-success {
            width: 260px;
            height: 46px;
            font-size: 18px;
        }
        &__connection-info {
            display: none;
            color: orange;
            position: absolute;
            top: 20%;
            font-style: italic;
            font-size: 18px;
            &.active {
                display: block;
            }
        }
    }

    //зарефакторить
    .ivu-spin-large {
        display: none;
    }
    .ivu-spin-large.is-active {
        display: block;
        position: absolute;
        .ivu-spin-dot {
            width: 82px;
            height: 82px;
            background-color: #639;
        }
    }

    .shake {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
    }

    @keyframes shake {
        10%, 90% {
            transform: translate3d(-1px, 0, 0);
        }

        20%, 80% {
            transform: translate3d(2px, 0, 0);
        }

        30%, 50%, 70% {
            transform: translate3d(-4px, 0, 0);
        }

        40%, 60% {
            transform: translate3d(4px, 0, 0);
        }
    }
</style>