<template>
    <div class="content">
        <Row>
            <slot name="filters"></slot>
        </Row>
        <Row>
            <Col span="6">
                <slot name="category-list"></slot>
            </Col>
            <Col span="18">
                <div class="price-table">
                    <div class="price-table__table-controls">
                        <CheckboxGroup v-model="checked" @on-change="hideColumn">
                            <Checkbox v-for="(column, key) in columns" :label="key" :key="key">{{column.title}}
                            </Checkbox>
                        </CheckboxGroup>
                        <i-switch v-model="large" @on-change="toggleSize"/>
                    </div>
                    <Table :size="size" stripe border highlight-row height="400" :columns="renderedColumns"
                           :data="products" @on-row-dblclick="selectProduct"></Table>
                </div>
            </Col>
            <div v-if="countTotal > pageSize" style="float: right; margin: 10px;">
                <Page :page-size="pageSize" :total="countTotal" :current="1" @on-change="changePage"></Page>
            </div>
        </Row>
        <slot name="cart"></slot>
        <Modal @on-ok="updateCart(selected.product); selected.amount = 1"
               title="Добавить в корзину"
               v-model="popupAddToCart"
               class-name="popup-add-product">
            <h3>{{selected.product.name}}</h3>
            <InputNumber :min=0 :max=10000 :value="selected.amount" @on-change="setAmount"/>
        </Modal>
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex';

    export default {
        name: "PriceList",
        props: {
            pageSize: Number
        },
        data() {
            return {
                size: 'small',
                large: false,
                popupAddToCart: false,
                renderedColumns: [],
                checked: [],
                selected: {
                    product: {},
                    amount: 1
                },
                columns: [
                    {
                        title: 'Код',
                        key: 'article',
                        className: ''
                    },
                    {
                        title: 'Название',
                        key: 'name',
                        className: ''
                    },
                    {
                        title: 'Описание',
                        key: 'description',
                        className: ''
                    },
                    {
                        title: 'Кол-во',
                        key: 'quantity',
                        sortable: true,
                        render: (show, params) => {
                            return show('Tooltip', {
                                props: {
                                    placement: "right",
                                    content: this.checkCount(params.row.quantity)
                                }
                            }, params.row.quantity > 10 ? 10 : params.row.quantity)
                        }
                    },
                    {
                        title: 'РРЦ',
                        key: 'retail_price',
                        sortable: true
                    },
                    {
                        title: 'Оптовая цена',
                        sortable: true,
                        render: function (show, params) {
                            return show('span', {}, params.row.price_two || params.row.price_three )
                        }
                    },
                    {
                        title: 'В упк',
                        key: 'package_quantity'
                    },
                    {
                        title: 'Штрих-код',
                        key: 'barcode'
                    },
                    {
                        title: 'Бренд',
                        key: 'brand',
                    }
                ]
            }
        },
        computed: {
            ...mapState({
                products: state => state.products.products,
                countTotal: state => state.products.countTotal,
                payload: state => state.filters.payload
            }),
        },
        methods: {
            ...mapActions({
                getProducts: 'products/getProducts',
                updateCart: 'cart/updateCart'
            }),
            selectProduct(product) {
                this.selected.product = product;
                this.selected.product.amount = this.selected.amount;
                this.popupAddToCart = true;
            },
            checkCount(count) {
                if (count >= 10) {
                    return `На складе 10 или более шт.`
                } else {
                    return `На складе ${count} шт.`
                }
            },
            hideColumn(columns_id) {
                let context = this;
                this.renderedColumns = [];
                columns_id.forEach(function (column) {
                    context.renderedColumns.push(context.columns[column])
                });
            },
            toggleSize(large) {
                this.size = large ? 'large' : 'small'
            },
            setAmount(amount) {
                this.selected.amount = amount;
                this.selected.product.amount = amount;
            },
            changePage(page) {
                let categoryId = this.$store.state.products.categoryId;
                let payload = {
                    id: categoryId,
                    page: page,
                    count: this.pageSize
                };
                this.$store.commit('filters/setPayload', payload);

                this.getProducts(this.payload);
            }
        },
        mounted() {
            let context = this;
            this.columns.forEach(function (column, index) {
                context.checked.push(index);
            });
            this.renderedColumns = this.columns;
        }
    }
</script>

<style lang="less">

    .price-table {
        &__table-controls {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 12px;
            & .ivu-switch {
                position: absolute;
                right: 0;
                width: 42px;
                height: 18px;
                &.ivu-switch-checked {
                    border-color: #639;
                    background-color: #639;
                }
                &:after {
                    width: 14px;
                    height: 14px;
                }
            }
            & .ivu-checkbox-wrapper {
                margin-right: 16px;
                & .ivu-checkbox-checked {
                    & .ivu-checkbox-inner {
                        background-color: #639;
                    }
                }
                & .ivu-checkbox-inner {
                    width: 18px;
                    height: 18px;
                    border-color: #639;
                    background-color: #fff;
                    &:after {
                        width: 6px;
                        height: 12px;
                        top: 1px;
                        left: 5px;
                    }
                }
            }
        }
    }

    .ivu-page {
        &-item-active {
            &:hover {
                a {
                    color: #fff !important;
                }
            }
            background-color: #639;
            border-color: #639;
        }
        &-next:hover {
            a {
                color: #639;
            }
            border-color: #639;
        }
        &-item:hover {
            a {
                color: #639;
            }
            border-color: #639;
        }
    }

    .popup-add-product {
        .ivu-btn-primary {
            background-color: #452763;
            border-color: #452763;
        }
        .ivu-btn-text:hover {
            color: #452763;
        }
        .ivu-modal-content {
            border-radius: 3px;
        }
        .ivu-input-number:hover {
            border-color: #452763;
        }
        .ivu-input-number-handler:hover span {
            color: #452763;
        }
        .ivu-input-number:focus {
            border-color: #452763;
            box-shadow: 0 0 0 2px rgba(68, 39, 97, 0.2)
        }
    }

    .ivu-notice-desc {
        text-align: left;
    }

</style>
