<template>
    <Row class="main__current-cart">
        <Col :span="width">
            <div class="current-cart">
                <slot name="cart-top"></slot>
                <Table :row-class-name="productNotExist" border class="current-cart__table" :height="height" :columns="columns"
                       :data="products"></Table>
                <slot name="cart-bottom"></slot>
            </div>
        </Col>
    </Row>
</template>

<script>
    import {mapActions} from 'vuex';

    export default {
        name: "SavedCart",
        props: {
            products: {
                default: () => []
            },
            width: {
                default: 24
            },
            height: {
                default: ''
            }
        },
        data() {
            return {
                columns: [
                    {
                        title: 'Код',
                        key: 'article'
                    },
                    {
                        title: 'Название',
                        key: 'name'
                    },
                    {
                        title: 'Описание',
                        key: 'description',
                        width: 200
                    },
                    {
                        title: 'Кол-во',
                        key: 'amount'
                    },
                    {
                        title: 'На складе',
                        key: 'quantity',
                        sortable: true,
                        render: (show, params) => {
                            return show('Tooltip', {
                                props: {
                                    placement: "right",
                                    content: this.checkCount(params.row.quantity)
                                }
                            }, params.row.quantity > 10 ? 10 : params.row.quantity)
                        }
                    },
                    {
                        title: 'РРЦ',
                        key: 'retail_price',
                        sortable: true
                    },
                    {
                        title: 'Опт. цена',
                        sortable: true,
                        render: function (show, params) {
                            return show('span', {}, params.row.price_two || params.row.price_three)
                        }
                    },
                    {
                        title: 'Штрих-код',
                        key: 'barcode'
                    },
                    {
                        title: 'Бренд',
                        key: 'brand'
                    },
                    {
                        title: 'Общая ст-сть',
                        key: 'total_price',
                        render: (show, params) => {
                            let total_price = params.row.amount * params.row.price_three;
                            return show('span', {}, total_price)
                        }
                    }
                ],
                popupDeleteFromCart: false,

            }
        },
        methods: {
            ...mapActions({
                updateCart: 'cart/updateCart',
                deleteFromCart: 'cart/deleteFromCart',
                addToSavedCarts: 'cart/addToSavedCarts'
            }),
            productNotExist (row) {
                if (!row.is_existent) {
                    return 'saved-cart__product-not-exist'
                }
            },
            checkCount(count) {
                if (count >= 10) {
                    return `На складе 10 или более шт.`
                } else {
                    return `На складе ${count} шт.`
                }
            }
        },
        mounted() {
        }
    }
</script>

<style lang="less">
    .main__current-cart {
        margin-top: 32px;
        margin-bottom: 32px;
        display: flex;
        justify-content: center;
    }

    .current-cart {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 16px;
        &__title {
            font-size: 19px;
            font-weight: 600;
            text-decoration: underline;
        }
        &__table {
            width: 100%;
        }
        &__btn {
            margin-top: 12px;
            margin-right: 4px;
        }
        &__save-btn {
            margin-top: 12px;
            transition: all ease 0.3s;
            &.active {
                display: none;
            }
        }
        .ivu-table-body.ivu-table-overflowY{
            &::-webkit-scrollbar {
                width: 10px;
                cursor: pointer;
            }
            &::-webkit-scrollbar-track {
                background-color: #e4e4e4;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background-color: #639;
            }
        }
        .ivu-btn-dashed {
            border-color: indianred;
            &:hover {
                color: red;
                border: 1px solid red
            }
        }
        &__edit-btn {
            margin-top: 12px;
            border-color: #639!important;
            &:hover {
                color: #ffffff!important;
                background-color: #639;
            }
        }
        &__cart-name {
            margin-top: 12px;
            visibility: hidden;
            width: 0;
            transition: all ease 0.3s;
            &.active {
                visibility: visible;
                width: 300px;
            }
        }
        &__save-controls {
            display: inline-block;
            margin-top: 12px;
            visibility: hidden;
            opacity: 0;
            transition: all ease 0.3s;
            &.active {
                visibility: visible;
                opacity: 1;
            }
        }
        &__btn-apply {
            &.ivu-btn-text:hover {
                color: #47cb89;
            }
        }
        &__btn-cancel {
            &.ivu-btn-text:hover {
                color: indianred;
            }
        }
        .ivu-table .saved-cart__product-not-exist td{
            background-color: indianred;
            color: #fff;
        }
    }
    .saved-cart {
        &__delete-btn {
            margin-top: 12px;
            .ivu-btn-dashed {
                border-color: indianred;
                &:hover {
                    color: red;
                    border: 1px solid red
                }
            }
        }
    }
</style>