<template>
    <div class="container js-move-left">
        <a href="/"><h1 class="lk-giper">LK_GIPER</h1></a>
            <login-form/>
    </div>
</template>

<script>
    import LoginForm from '~/components/LoginForm';

    export default {
        components: {
            LoginForm
        }
    };
</script>

<style lang="less">

    .container {
        position: relative;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        text-align: center;
        background: url("../assets/images/login_form.png");
        transition: all linear 1.5s;
        left: 0;
        .lk-giper {
            font-size: 66px;
            color: #fff;
            margin-top: 38px;
        }
    }

</style>
