<template>
    <main-layout>
        <div>Мои заказы</div>
    </main-layout>
</template>

<script>
    import mainlayout from '../layouts/mainlayout.vue';
    import {mapActions} from 'vuex';

    export default {
        name: "orders",
        components: {
            'main-layout': mainlayout,
        },
        methods: {
            ...mapActions({
                getOrders: 'cart/getOrders'
            })
        },
        mounted() {
            this.getOrders();
        }
    }
</script>

<style scoped>

</style>