<template>
    <main-layout>
        <price-list :pageSize=20>
            <filters ref="filters" slot="filters"></filters>
            <category-list slot="category-list"></category-list>
            <cart :products="products" height="400" slot="cart" @popupDeleteProduct="deleteModal"
                  @changeAmount="changeAmount">
                <!-- slot="cart-top"-->
                <div class="current-cart__title" slot="cart-top">Корзина</div>
                <!--end-->
                <!-- slot="cart-bottom"-->
                <div style="display: flex; align-items: center" slot="cart-bottom">
                    <Button v-if="initCart" class="current-cart__btn" type="success" @click="buy">
                        <span>Отправить заказ менеджеру</span>
                    </Button>
                    <Button v-if="!saved && initCart" class="current-cart__save-btn" :class="{'active' : active.input}"
                            type="primary" @click="active.input = !active.input">
                        <span>Сохранить корзину</span>
                    </Button>
                    <Input style="margin-right: 4px" class="current-cart__cart-name" v-model="cartName"
                           placeholder="введите название корзины" :class="{'active' : active.input}"/>
                    <div class="current-cart__save-controls" :class="{'active' : active.input}">
                        <Button class="current-cart__btn-apply" style="padding: 0; margin-right: 4px" type="text">
                            <Icon v-show="cartName" size="24" type="ios-checkmark"
                                  @click="saveCart(cartName), active.input = false, eraseCart()"/>
                        </Button>
                        <Button class="current-cart__btn-cancel" style="padding: 0" type="text" @click="active.input = !active.input">
                            <Icon size="24" type="close-circled"/>
                        </Button>
                    </div>
                    <Modal
                            @on-ok="deleteFromCart(selected.product.index)"
                            title="Удалить?"
                            v-model="popupDeleteFromCart"
                            class-name="popup-delete-product">
                    </Modal>
                </div>
                <!-- end-->
            </cart>
        </price-list>
    </main-layout>
</template>

<script>
    import mainlayout from '../layouts/mainlayout.vue'
    import PriceList from '../components/PriceList.vue'
    import Filters from '../components/Filters.vue';
    import CategoryList from '../components/CategoryList.vue';
    import Cart from '../components/Cart.vue';

    import {mapState, mapActions} from 'vuex';

    export default {
        components: {
            'main-layout': mainlayout,
            PriceList,
            Filters,
            CategoryList,
            Cart
        },
        data() {
            return {
                showAccept: false,
                initCart: false,
                saved: false,
                active: {
                    input: false
                },
                cartName: '',
                popupDeleteFromCart: false,
                selected: {
                    product: {
                        index: ''
                    }
                }
            }
        },
        computed: {
            ...mapState({
                products: state => state.cart.products
            })
        },
        watch: {
            saved: function () {
                if (this.saved) {
                    this.$Notice.success({
                        top: 5,
                        duration: 20,
                        title: `Корзина ${this.cartName} успешно сохранена`,
                    })
                }
            },
            products: function () {
                this.products.length !== 0 ? this.initCart = true: this.initCart = false;
            }
        },
        methods: {
            ...mapActions({
                getCart: 'cart/getCart',
                getLost: 'cart/getLost',
                deleteFromCart: 'cart/deleteFromCart',
                updateCart: 'cart/updateCart',
                updateAmount: 'cart/updateAmount',
                saveCart: 'cart/saveCart',
                createOrder: 'cart/createOrder'
            }),
            deleteModal(productIndex) {
                this.selected.product.index = productIndex;
                this.popupDeleteFromCart = true;
            },
            changeAmount(payload) {
                this.updateAmount(payload)
            },
            buy(id) {
                this.createOrder(id).then(res => {
                    this.$Modal.success({
                        title: 'Спасибо за заказ!',
                        content: 'Ваш менеджер свяжется с вами в течении дня.'
                    })
                });
            },
            eraseCart() {
                this.$store.commit('cart/eraseCart')
            }
        },
        mounted() {
            if (this.$route.query.edit_cart) {
                this.getCart(this.$route.query.edit_cart);
            } else {
                this.getLost();
            }
        }
    }
</script>

<style lang="less">
    .popup-delete-product {
        .ivu-btn-primary {
            background-color: #452763;
            border-color: #452763;
        }
        .ivu-btn-text:hover {
            color: #452763;
        }
        .ivu-modal-content {
            border-radius: 3px;
        }
    }
</style>